sudo: required
language: go
go_import_path: github.com/KohlsTechnology/eunomia
go:
- "1.12"
env:
  - GO111MODULE=on

before_install:
  - travis_retry go mod vendor

deploy:
  - provider: script
    skip_cleanup: true
    script: make travis-deploy-images
    on:
      repo: KohlsTechnology/eunomia
      branch: master
  - provider: script
    skip_cleanup: true
    script: make travis-deploy-images
    on:
      repo: KohlsTechnology/eunomia
      tags: true
