sudo: required
language: go
go_import_path: github.com/KohlsTechnology/eunomia
go:
- "1.12.x"
env:
  global:
  - GO111MODULE=on
  - CHANGE_MINIKUBE_NONE_USER=true
  matrix:
  - OPERATOR_SDK_VERSION=v0.8.1 KUBE_VERSION=v1.14.2 MINIKUBE_VERSION=v1.3.1

before_install:
  - travis_retry go mod vendor
  - go get golang.org/x/lint/golint
  #- openssl aes-256-cbc -K $encrypted_18f270609d30_key -iv $encrypted_18f270609d30_iv -in github_deploy_key.enc -out github_deploy_key -d
  #- chmod 600 github_deploy_key
  #- eval $(ssh-agent -s)
  #- ssh-add github_deploy_key

before_script:
- curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/${KUBE_VERSION}/bin/linux/amd64/kubectl
- sudo chmod +x kubectl && sudo mv kubectl /usr/local/bin/
- curl -Lo minikube https://storage.googleapis.com/minikube/releases/${MINIKUBE_VERSION}/minikube-linux-amd64
- sudo chmod +x minikube && sudo mv minikube /usr/local/bin/
- curl -LO https://git.io/get_helm.sh && chmod 700 get_helm.sh && ./get_helm.sh
- curl -OJL https://github.com/operator-framework/operator-sdk/releases/download/${OPERATOR_SDK_VERSION}/operator-sdk-${OPERATOR_SDK_VERSION}-x86_64-linux-gnu
- chmod +x operator-sdk-${OPERATOR_SDK_VERSION}-x86_64-linux-gnu
- sudo mkdir -p /usr/local/bin/
- sudo cp operator-sdk-${OPERATOR_SDK_VERSION}-x86_64-linux-gnu /usr/local/bin/operator-sdk
- rm operator-sdk-${OPERATOR_SDK_VERSION}-x86_64-linux-gnu
- sudo minikube start --vm-driver=none --kubernetes-version=${KUBE_VERSION}
- minikube update-context
- JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}'; until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do sleep 1; done


script:
  - test -z "$(gofmt -l . | grep -v ^vendor)"
  - go vet ./pkg/... ./cmd/...
  - golint -set_exit_status $(go list ./... | grep -v /vendor/)
  - bash scripts/unit-tests.sh
  - bash scripts/e2e-test.sh

deploy:
  - provider: script
    skip_cleanup: true
    script: make travis-deploy-images
    on:
      repo: KohlsTechnology/eunomia
      branch: master
  - provider: script
    skip_cleanup: true
    script: make travis-deploy-images
    on:
      repo: KohlsTechnology/eunomia
      tags: true
