{{- with .Values.eunomia.operator }}
{{- if and .deployment.enabled (not .deployment.nsRbacOnly) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: eunomia-operator
  namespace: {{ .namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .replicas }}
  strategy:
    rollingUpdate:
      maxUnavailable: {{ .replicas }}
      maxSurge: 100%
    type: RollingUpdate
  selector:
    matchLabels:
      name: eunomia-operator
  template:
    metadata:
      labels:
        name: eunomia-operator
    spec:
      serviceAccountName: {{ .serviceAccount }}
      containers:
        - name: eunomia-operator
          image: "{{ .image.repository }}/{{ .image.name }}:{{ .image.tag }}"
          imagePullPolicy: {{ .image.pullPolicy }}
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "eunomia-operator"
          resources:
            {{- toYaml .resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
      {{- with .nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
{{- end }}
